<section class="orders-show">
  <h2>Thank you for your order!</h2>
  <h3> <%= @order.email %><h3>
  
  <header class="page-header">
    <h3>Order #<%= @order.id %></h3>
  </header>

  <div class="order-summary jumbotron">
    <table table-bordered>
      <tr>
        <th>Product</th>
        <th>Info</th>
        <th>Quantity</th>
        <th>Subtotal</th>
      </tr>
      <% @order.line_items.each do |item| %>
        <tr>
          <td class="item-image">
            <%= image_tag Product.find(item.product_id).image.thumb, alt: Product.find(item.product_id).name %>
          </td>
          <td class="item-info">
              <p class= "item-name"><%= Product.find(item.product_id).name %></p>
              <p class= "item-description"><%= Product.find(item.product_id).description %></p>
          </td>
          <td class="item-quantity">
            <%= item.quantity %>
          </td>
          <td class="subtotal">
            <%= number_to_currency(item.total_price_cents / 100) %>
          </td>
        </tr>
    <% end %>   
    <table>
    
  </div>
  
  <div class="order-total">TOTAL: <%= number_to_currency(@order.total_cents / 100) %></div>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>

